@import "./variables.scss";


#home-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2rem;
    row-gap: 2rem;

    .header {
        width: 100%;

        h1 {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            box-sizing: border-box;
            margin: 0;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            box-sizing: border-box;
            margin: 0;
            margin-top: 1rem;
        }
    }

    .nft-renderer {
        flex-grow: 1;
        /* Takes up all available space */
        display: flex;
        /* To center the image inside */
        align-items: center;
        /* Vertical center */
        justify-content: center;
        /* Horizontal center */


        iframe {
            width: 100%;
            max-height: 75vh;
        }

        img,
        video,
        p {
            max-height: 75vh;
            max-width: 100%;
            width: auto;
            height: auto;
            display: block;
            margin: 0;
            object-position: center;
            object-fit: contain;
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}